@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

body {
  margin: unset;
  min-height: 100vh;
  font-family: 'Montserrat','Pacifico',sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
main {
  flex: 1;
}